.gradient-custom {
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
    linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}
.card{
    margin-left: 40%;
    align-items: center;
    justify-content: center;
}
.btn{
    padding:2vh;
    padding-top: 0%;
    cursor: pointer;
    border-radius: 10%;
    
    background: blanchedalmond;
}
.btn :hover{
    background: rgb(208, 127, 21);
}
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --mdb-gutter-x: 1.5rem;
    --mdb-gutter-y: 0;
  }
  body {
    font-family: var(--mdb-body-font-family);
    font-size: var(--mdb-body-font-size);
    font-weight: var(--mdb-body-font-weight);
    line-height: var(--mdb-body-line-height);
    color: var(--mdb-body-color);
    text-align: var(--mdb-body-text-align);
    -webkit-text-size-adjust: 100%;
  }
